.root{
    //-fx-background-color: #E8E8E8;
    //-fx-font-size: 44pt;
}
.button{
    -fx-alignment: center-left;
    -fx-font-size: 10.5pt;
}
.label{
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}
#smallerText{
    -fx-font-weight: normal;
    -fx-font-size: 9pt;
}
#midText{
    -fx-font-size: 10.5pt;
}
#alignCenter{
    -fx-alignment: center;
    -fx-font-size: 10.5pt;
    -fx-background-radius: 6;
}
#color{
    -fx-background-color: #EB251A;
    -fx-border-color: #FFFFFF;
}
#color2 {
  all: unset;
}
#comboColor{
    -fx-text-fill: red;
    -fx-font-size: 9pt;
}
#comboColor2{
    -fx-text-fill: blue;
    -fx-font-size: 9pt;
}